html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
    left: 0;
    right: 0;
    position: absolute;
}

.mdl-textfield__label, .mdl-textfield__input {
    text-align: center;
}

nav div.hide_item {
    display: none !important;
}