html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
    left: 0;
    right: 0;
    position: absolute;
}

.mdl-textfield__label, .mdl-textfield__input {
    text-align: center;
}

.mdl-navigation__link {
    cursor: pointer;
}

nav div.hide_item {
    display: none !important;
}

#error-msg {
    margin-top: 3em;
    text-align: center;
}

.infowindow {
    width: 320px;
    height: 320px;
    text-align: center;
  }

.img-container {
    width: 100%;
    height: 60%;
}

.info-title {
    padding-bottom: 5px;
    border-bottom: 1px solid gray;
    font-weight: 100;
}

.spinner-container {
    padding-top: 110px;
    padding-left: 10px;
}

.address {
    color: #8E8E8C;
}

.img-error {
    padding-top: 100px;
}

@media only screen and (max-width: 380px) {
    .infowindow {
        width: 220px;
        height: 280px;
    }
    img {
        width: 220px;
    }
    .img-container {
        height: 50%;
    }
}